[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
wordfreq = "*"
requests = "*"
"bs4" = "*"
regex = "*"
jieba = "*"
pyopenssl = "*"

[dev-packages]

[requires]
python_version = "3.6"
