{% extends 'template.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/learnVocab.css') }}"/>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <input type="text" id="vocabInput" class="form-control" placeholder="Type your vocabulary here." />
      </div>
      <div class="row mt-3">
        <div id="contents" class="container"></div>
      </div>
      <div class="container">
        <a class="float-right" href="#" onclick="loadHanzi()">Learn Hanzi</a>
      </div>
    </div>

    <div class="col">
      <div class="container border border-success" id="showcase">
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/learnVocab.js' ) }}"></script>
{% endblock %}
