{% extends 'template.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}"/>
{% endblock %}

{% block title %}Progress{% endblock %}

{% block content %}
  <div class="row">
    <div class="mb-3"><i>Right click to show to view options for the respective levels.</i></div>
    <table class="hanziShowcase mb-3" border="1">
      <col class="cola" />
      <col class="colb" />
    </table>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/progress.js' ) }}"></script>
{% endblock %}
