<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.contextMenu.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.all.css') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
  {% block css %}{% endblock %}

  <title>{% block title %}{% endblock %} - HanziLevelUp</title>
</head>
<body>

  <header class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">HanziLevelUp</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="hanziDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hanzi</a>
          <div class="dropdown-menu" aria-labelledby="hanziDropdownLink">
            <a class="dropdown-item" href="/viewHanzi">Hanzi viewer</a>
            <a class="dropdown-item" href="/exploreHanzi" disabled>Explore Hanzi</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="vocabDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vocab</a>
          <div class="dropdown-menu" aria-labelledby="vocabDropdownLink">
            <a class="dropdown-item" href="/learnVocab">Learn new vocab</a>
            <a class="dropdown-item" href="/viewVocab">Vocab viewer</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="sentenceDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sentences</a>
          <div class="dropdown-menu" aria-labelledby="sentenceDropdownLink">
            <a class="dropdown-item" href="/learnSentences">Learn new sentences</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="toolsDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
          <div class="dropdown-menu" aria-labelledby="toolsDropdownLink">
            <a class="dropdown-item" href="/clipboard">Clipboard viewer</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="progressDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Progress</a>
          <div class="dropdown-menu" aria-labelledby="progressDropdownLink">
            <a class="dropdown-item" href="/recent">Recent items</a>
            <a class="dropdown-item" href="/progress">Hanzi progress</a>
          </div>
        </div>
        <a class="nav-item nav-link" href="#">Settings</a>
      </div>

      <div class="navbar-nav ml-auto">
        <div class="btn-group my-2 my-sm-0 form-inline" role="group" aria-label="Button group for sync/export">
          <button class="btn btn-outline-success" type="button" id="sync-default">
            <i class="fas fa-sync-alt inline" id="spinner-sync"></i>
            <i class="fas fa-spinner fa-pulse inline" id="spinner-export" style="display: none;"></i>
            <div id="text-sync" class="inline">Sync with Excel</div>
          </button>
          <!-- <button id="btnGroupDropSync" type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDropSync">
            <a class="dropdown-item" href="#" id="sync-anki">Sync with Anki</a>
            <a class="dropdown-item" href="#" id="sync-kitsun">Sync with kitsun.io</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" id="export-excel">Export/Sync with Excel</a>
          </div> -->
        </div>
      </div>
    </div>
  </header>

  <div class="container mt-3">
    {% block content %}{% endblock %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.ui.position.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.contextMenu.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
  <script src="{{ url_for('static', filename='js/template.js') }}"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
