[id^="showcase"], .showcase {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.showcase {
  height: 400px;
}

/* .floating.context-menu-active {
  z-index: 100;
} */

.floating {
  position: absolute;
  font-size: 16px;
  white-space: nowrap;
  background-color: white;
  z-index: 0;
}

.hoverElement > .floating {
  z-index: 100;
  font-size: 30px;
}

.entry.context-menu-active {
  background-color: lightblue;
}

.entry {
  background-color: transparent;
}

.entry:hover {
  background-color: lightblue;
}

.deleter {
  margin-left: 10px;
  margin-right: 10px;
}

.character {
  font-size: 30px;
  display: inline-block;
}

.number {
  font-size: 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  display: inline-block;
}

.hoverElement {
  position: absolute;
  z-index: 100;
  background-color: white;
}

.hoverElement > .character {
  font-size: 80px;
}

.hoverElement > .number {
  font-size: 50px;
}

.recent {
  max-height: 400px;
  overflow-y: scroll;
}

.content {
  min-height: 50px;
}

#dialog {
  width: 800px;
  display: block;
  position: sticky;
}
