[id^="showcase"], .showcase {
  height: 500px;
  position: relative;
}

.showcase {
  height: 400px;
}

.floating.context-menu-active {
  z-index: 100;
}

.floating {
  position: absolute;
  font-size: 16px;
  background-color: white;
  z-index: 0;
}

.floating:hover {
  z-index: 100;
}

.entry.context-menu-active {
  background-color: lightblue;
}

.entry {
  background-color: transparent;
}

.entry:hover {
  background-color: lightblue;
}

.deleter {
  margin-left: 10px;
  margin-right: 10px;
}

.character {
  font-size: 30px;
  display: inline-block;
}

.number {
  font-size: 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  display: inline-block;
}

.hoverElement {
  background-color: white;
  position: absolute;
}

.hoverElement > .character {
  font-size: 80px;
}

.hoverElement > .number {
  font-size: 50px;
}

.recent {
  max-height: 400px;
  overflow-y: scroll;
}
