.deleteVocab {
  margin-right: 10px;
}

#showcase {
  height: 500px;
}

.vocabFloating {
  font-size: 1em;
  background-color: white;
  z-index: 0;
}

.vocabFloating:hover {
  font-size: 2.5em;
  background-color: white;
  z-index: 100;
}
